
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
<section>友情链接：
  <a href="https://wangfeia.com/" target="_blank" rel="nofollow">WangF Blog</a> |
  <a href="http://neras.github.io/" target="_blank" rel="nofollow">有只妖怪</a> |
  <a href="http://www.cnblogs.com/observernotes/" target="_blank" rel="nofollow">observernote</a> |
  <a href="http://tangyc.top/" target="_blank" rel="nofollow">前端唐小胖</a>|
  <a href="http://lyhfe.com/" target="_blank" rel="nofollow">lyhper Blog</a>
<a href="https://haofly.net/" target="_blank" rel="nofollow">豪翔天下</a>
</section>
     <section class="copyright">All content copyright <a href="<%- config.root %>"><%- config.title %></a> &copy; 2015 &bull; All rights reserved. </section>
     <section class="poweredby">渝ICP备15005710号 |  Proudly published with <a class="icon-ghost" href="http://zespia.tw/hexo/">Hexo</a> </section>
  </div>
  <span id="busuanzi_container_site_uv">
      本站访客数<span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span>人次
    </span>
    <script async src="https://cdn.jsdelivr.net/gh/xaoxuu/cdn-busuanzi@2.3/js/busuanzi.pure.mini.js">
</script>
</footer>
