<div id="comment" class="comments-area">
    <h4 class="title"><a href="#disqus_comments" name="disqus_comments">评论</a></h4>
    <% if(config.disqus_shortname) { %>
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <% } %>
    <% if ( page.comments){ %>
<section class="comment-box">
    <!--高速版-->
    <div id="SOHUCS" sid="<%=page.permalink%>"></div>
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
        appid: 'cyt0WGpod',
        conf: 'prod_9f27eeee1e3fc8f350351d688de22e09'
        });
    </script>

</section>
<% } %>
</div>

